body {
    font-family: "Verdana";
    background-color: gray;
    color: white
}
.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}

.title {
    color: whitesmoke;
    font-weight: bold;
}
.chart {

}

.line {
    fill: none;
    stroke: rgb(156, 4, 144);
    stroke-width: 3;
}

.main text {
    font: 10px sans-serif;	
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: whitesmoke;
    fill: none;
}

circle {
    fill: rgb(230, 4, 211);
}

.tooltip {
    position: absolute;
    width: 200px;
    height: inherit;
    pointer-events: none;
    background: #fff;
    color: black;
    padding: 10px;
    border-radius: 15px;
    font-size: 12px;
    border: 2px solid black;
    text-align: center;
}

.bar {
    fill: linear-gradient(green, rgb(68, 204, 79))
}

.legend {
    width: 100px;
    height: inherit;
    background: whitesmoke;
    border:  2px solid black;
    padding: 10px;
    border-radius: 15px;

}